{% ckan_extends %}

{%- block header %}
<div class="govco-footer-bg">
    <nav class="navbar navbar-expand-lg barra-superior-govco container" aria-label="Barra superior">
  <a href="https://www.gov.co/" target="_blank" aria-label="Portal del Estado Colombiano - GOV.CO"></a>
  
</nav>
</div>
	{% include "header.html" %}
  {% endblock -%}

{%- block footer %}
    {% include "footer.html" %}
<footer class="container">
<div class="govco-footer">
  <div class="govco-data-front">
    <div class="govco-footer-text">
      <div class="row govco-nombre-entidad">
        <div class="col-xs-12 col-lg-6">
          <p class="govco-text-header-1">Alcaldía Distrital de Cartagena de Indias</p>
        </div>
        <div class="col-xs-12 col-lg-5 govco-logo-div-a">
          <span class="govco-logo-entidad"></span>
        </div>
      </div>

      <div class="row col-xs-12 col-lg-7 govco-texto-sedes">
        <p class="govco-text-header-2">Sede principal</p>
	Nit: 890-480-184-4 <br>
        Dirección: Cra. 2 # 36-86, Cartagena, Bolivar-Colombia <br class="govco-mostrar">
        Código Postal: 13001 <br>
        Horario de atención: Lunes a viernes xx:xx a.m. - xx:xx p.m. <br>
        Teléfono conmutador: +57 605 6411370 <br>
        Línea gratuita: 01-8000-415393 <br>
        Línea anticorrupción: 01-8000-415393 <br>
        Denuncias por actos de corrupción: <a href="mailto:transparenciayanticorrupcion@cartagena.gov.co">transparenciayanticorrupcion@cartagena.gov.co</a><br>
        Acciones de tutela: <a href="mailto:unidaddetutelas@cartagena.gov.co">unidaddetutelas@cartagena.gov.co</a><br>
        Notificaciones judiciales: <a href="mailto:notificacionesjudicialesadministrativo@cartagena.gov.co">notificacionesjudicialesadministrativo@cartagena.gov.co</a><br>
	Correo institucional: <a href="mailto:alcalde@cartagena.gov.co">alcalde@cartagena.gov.co</a><br>
     </div>

      <div class="row col-xs-12 col-lg-7 govco-network">
        <div class="govco-iconContainer">
          <span class="icon govco-twitter-square"></span>
          <a href="https://twitter.com/alcaldiactg" target="_blank" title="Cuenta Twitter Alcaldía de Cartagena (abre en una nueva ventana)" rel="noopener noreferrer" class="govco-link-modal">@alcaldiactg</a>
        </div>
        <div class="govco-iconContainer">
          <span class="icon govco-instagram-square"></span>
          <a href="https://www.instagram.com/alcaldiacartagena" target="_blank" title="Cuenta Instagram Alcaldía de Cartagena (abre en una nueva ventana)" rel="noopener noreferrer" class="govco-link-modal">@alcaldiacartagena</a>
        </div>
        <div class="govco-iconContainer">
          <span class="icon govco-facebook-square"></span>
          <a href="https://www.facebook.com/alcaldiacartagena" target="_blank" title="Cuenta Facebook Alcaldía de Cartagena (abre en una nueva ventana)" rel="noopener noreferrer" class="govco-link-modal">@alcaldiacartagena</a>
        </div>
		<div class="govco-iconContainer">
          <span class="icon govco-youtube-square"></span>
          <a href="https://www.youtube.com/AlcaldiaCTG" target="_blank" title="Cuenta Youtube Alcaldía de Cartagena (abre en una nueva ventana)" rel="noopener noreferrer" class="govco-link-modal">@alcaldiacartagena</a>
        </div>
      </div>

      <div class="govco-listado-sedes">
      <div class="row govco-links-container">
        <div class="govco-link-container mt-2">
          <a class="govco-link-modal govco-link-modal-bold" href="#">Políticas</a>
          <a class="govco-link-modal govco-link-modal-bold" href="#">Mapa del sitio</a>
        </div>
        <div class="govco-link-container mt-2">
          <a class="govco-link-modal govco-link-modal-bold" href="#">Términos y condiciones</a> <br>
        </div>
        <div class="govco-link-container mt-2">
          <a class="govco-link-modal govco-link-modal-bold" href="#">Accesibilidad</a>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
<footer class="govco-footer-bg">
 <div class="govco-footer-logo container">
    <div>
      <span class="govco-co"></span>
      <span class="govco-separator"></span>
      <span class="govco-logo"></span>
    </div>
  </div>
 </footer>
  {% endblock -%}
