include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/govcotheme *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/govcotheme/migration *.ini *.py *.mako
recursive-include ckanext/govcotheme/public *.*
